.example-container {
  display: flex;
  flex-direction: column;
  margin: auto 20% auto 20%;
}

.example-container > * {
  width: 100%;
}

.example-button-row button,
.example-button-row a {
  width: 100%;
  border-radius: 0;
}
.example-card {
  padding-bottom: 50px;
  padding-top: 30px;
  border-radius: 0;
  background-color: #ffffff;
  margin: 100px 30% 100px 30%;
}

.invalid, .invalid::placeholder{
  color: red;
}

.error{
  font-size: 10px;
  color:red;
}
