<app-menu></app-menu>
<mat-card class="example-card">

  <form class="example-container">



    <mat-form-field [ngClass]="{'invalid': error}" >
      <input matInput [ngClass]="{'invalid': error}" for="username" id="username" type="text" placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>


    <mat-form-field [ngClass]="{'invalid': error}" >

      <input matInput [ngClass]="{'invalid': error}" for="password" type="password" id="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <p *ngIf="error" class="error badcredentials">Bad credentials</p>
    <div class="example-button-row">
      <button mat-flat-button color="primary" (click)="login()">
        Send
      </button>
    </div>
  </form>

</mat-card>
